body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: cornsilk;
}

.wrapper {
  background-color: cornsilk;
  width: 300px;
  height: 300px;
  text-align: center;
  color: darkolivegreen;
  font-family: 'Playfair Display', serif;
  font-size: larger;
  border: 3px solid;
  border-radius: 24px;
}

.temp {
 text-align: center;
}

.windHumidity-wrapper{
  display:flex;
  justify-content: space-evenly;
}

.wind{
  font-size: 23px;
}

.wind img{
  width: 30px;
}

.humidity img{
  width: 30px;
}

.search input{
  background-color: cornsilk;
  border: 1px solid;
  border-radius: 2px;
}

.search button{
  background-color: cornsilk;
  border: 1px solid;
  border-radius: 2px;
}
